/* Give your page a fun background color */
body {
    background-color: cornsilk;
}
/* Make the header and footer a different color from the background */
header {
    color: burlywood;
}
footer {
    background-color: brown;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
   color: ghostwhite;
}
/* Put a border around your image */
img {
    border: 15px solid black;
}

/* Change the font-family of your list */
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}